[submodule "intepreter"]
	path = intepreter
	url = git@github.com:enso-labs/interpreter.git
[submodule "gilfoyle"]
	path = gilfoyle
	url = git@github.com:enso-labs/gilfoyle.git
[submodule "simple-af-agent"]
	path = simple-af-agent
	url = git@github.com:ryaneggz/next-agent.git
[submodule "orchestra"]
	path = orchestra
	url = git@github.com:enso-labs/orchestra.git
[submodule "agent-core"]
	path = agent-core
	url = git@github.com:enso-labs/agent-core.git
[submodule "langstream"]
	path = langstream
	url = git@github.com:ryaneggz/langstream.git
[submodule "langgraph-sandbox"]
	path = langgraph-sandbox
	url = git@github.com:ryaneggz/langgraph-sandbox.git
[submodule "a2a-langgraph"]
	path = a2a-langgraph
	url = git@github.com:enso-labs/a2a-langgraph.git
